<!DOCTYPE html>
<html ng-app="bilancio">
<head>
	<title>Bilancio</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
 <body class="detailed-column" >
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Bilancio</a>
                    <img src="images/Crowdfunding-48.png">
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="dropdown" data-toggle="dropdown"> Profile <span class="glyphicon glyphicon-user pull-right"></span></a>
                            <ul class="dropdown-menu">
						        <li><a href="#">Account Settings <span class="glyphicon glyphicon-cog pull-right"></span></a></li>
						        <li class="divider"></li>
						        <li><a href="#">User stats <span class="glyphicon glyphicon-stats pull-right"></span></a></li>
						        <li class="divider"></li>
						        <li><a href="#">Messages <span class="badge pull-right"> 42 </span></a></li>
						        <li class="divider"></li>
						        <li><a href="#">Favourites Snippets <span class="glyphicon glyphicon-heart pull-right"></span></a></li>
						        <li class="divider"></li>
						        <li><a href="#">Sign Out <span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
					      </ul>
                        </li>
                        <li >
                        <a ui-sref="dashboard">Dashboard <i class="pull-right fa fa-home fa-1x" aria-hidden="true"></i> </a>                        
                        </li>
                        <li >
                        <a ui-sref="billshellList">BillShell<i class="pull-right fa fa-money fa-1x" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-right">
                        <input type="text" class="form-control" placeholder="Search...">
                    </form>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
             <div ui-view></div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript-->
<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../node_modules/angular/angular.js"></script>
<script src="../node_modules/angular-ui-router/release/angular-ui-router.js"></script>
<script src="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
<script src="app.js"></script>
<script src="js/config.js"></script>
<script src="js/mainController.controller.js"></script>
<script src="js/billDetails.controller.js"></script>
<script src="js/billShellView.controller.js"></script>
<script src="js/billDetails.services.js"></script>
<script src="js/main.directive.js"></script>
<script src="js/infoMessage.directive.js"></script>
<script src="js/billShellView.services.js"></script>
</body>
</html>